{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Update Record</h1>
    <br></br>
    <h2>{{record.artist}} - {{record.content}}</h2>
    <h3>Additional Data</h3>
    <br></br>
    <div class="form">
        <form action="/update/{{record.id}}" method="POST">
            Record Name<input type="text" name="content" id="content" required placeholder="Record" value="">
            <br></br>
            Artist<input type="text" name="artist" id="artist" required placeholder="Artist" value="">
            <br></br>
            <input type="submit" value="Update">
            
        </form>
    </div>
</div>
{% endblock %}